{
    "extends": "stylelint-config-standard",
    "rules": {
        "indentation": 4,
        "color-hex-case": "lower",
        "no-missing-end-of-source-newline": true,
        "declaration-block-trailing-semicolon": "always",
        "declaration-empty-line-before": null
    }
}
