.l-base {
    position: relative;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

.l-base__navbar,
.l-base__footer {
    flex-shrink: 0;
}

.l-base__main {
    flex-shrink: 1;
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.l-base__timer-list {
    overflow-y: auto;
}

.l-base__footer {
    margin-top: auto;
    position: relative;
}
